.menu-card{
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}
.menu-card img{
  width: 65px;
  height: 65px;
  margin: auto;
}
.active{
  border-bottom: 1px solid red;
  margin: 0 60px;
}